<style>

    {#Highcharts Fonts #}
    .highcharts-legend-item text {
        font-size: 14px !important;
    }

    .highcharts-axis text{  {# axis title #}
        font-size: 15px !important;
    }
    .highcharts-axis-labels text  {  {# labels values #}
        font-size: 14px !important;
    }
    .highcharts-label text {      {# Zoom btns#}

        font-size: 14px !important;
    }

    {#body {#}
    {#    font-size: 18px;#}
    {# }#}
    {##}
    {#b {#}
    {#    font-size: 20px;#}
    {# }#}
    {##}
    {#label {#}
    {#    font-size: 18px;#}
    {# }#}
    {##}
    {#h1 {#}
    {#    font-size: 30px;#}
    {# }#}
    {#h2 {#}
    {##}
    {# }#}
    {##}
    {#h3 {#}
    {#    font-size: 30px;#}
    {# }#}
    {##}
    {#.kt-portlet__head-title{#}
    {#    font-size: 19px !important;#}
    {# }#}
    {##}
    {#.kt-menu__link-text {#}
    {#    font-size: 18px !important;#}
    {# }#}
    {##}
    {#select {#}
    {#    font-size: 17px !important;#}
    {# }#}



    .rs-title {
        font-size: 15px !important;
    }

    .rs-tooltip-text {
        font-size: 17px !important;
        font-weight: bold !important;
        color: #000 !important;
    }
</style>