{% extends "parts/kt-portlet.html" %}
{% load static %}


{% block portlet-title %}
    <h3 class="kt-portlet__head-title"></h3> <!--needed for button size -->
    <form id="start-form">
        {% csrf_token %}
        <button id="play-recommendation" type="submit" class="play-btn"
        >
            <i class="mdi mdi-24px mdi-play"></i>
            <i style="display:none" class="mdi mdi-24px mdi-pause"></i>

        </button>

        <button id="reload" type="submit" class="reload-btn"
        >
            <i class="mdi mdi-24px mdi-reload"></i>
            <i style="display:none" class="mdi mdi-24px mdi-pause"></i>

        </button>
        <div id="start-button-right" style="display: inline;">
            <h6 id="start-button-right-text" style="display: inline;"></h6>
        </div>
    </form>
{% endblock %}

{% block portlet-body %}
    <div class="row" style="height:520px">
        <div class="col-md-9">
            <div id="flaml-chart"></div>
        </div>
        <div class="form-group col-md-3">
            <form class="form-group" id="recommendation_settings_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in flaml_settings_form %}
                    <div class="form-group">
                        {% if field.field.widget.input_type == 'checkbox' %}
                            {{ field.label_tag }}
                            {% for v,e in field.field.widget.choices %}
                                <div class="checkbox">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" name="{{ field.name }}" value="{{ v }}"
                                               checked="">
                                        {{ e }}
                                        <span></span>
                                    </label>
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <label for="range-slider" style="translateY(50px);">Training Size</label>

                <div class="slider-container">
                    <span class="tooltip_">0</span>
                    <input class= "form-control" name="train-size" type="range" min="20" max="100" step="10" id="range-slider" data-tooltip="0">

                    <style>
                        .slider-container {
                            position: relative;
                            margin-right: 30px;
                        }

                        .tooltip_ {
                            position: absolute;
                            top: 5px; /* Adjust the positioning as needed */
                            left: 98%;
                            {#transform: translateX(10px);#}
                            {#background-color: #000;#}
                            {#color: #fff;#}
                            padding: 5px 10px;
                            border-radius: 5px;
                        }
                    </style>

                    <script>
                        // Get the range slider and tooltip elements
                        const rangeSlider = document.getElementById('range-slider');
                        const tooltip_ = document.querySelector('.tooltip_');

                        // Update the tooltip value and position
                        const updateTooltip = () => {
                            const value = rangeSlider.value;
                            tooltip_.textContent = value;
                            const rangeWidth = rangeSlider.offsetWidth;
                            const tooltipWidth = tooltip_.offsetWidth;
                            const min = rangeSlider.min || 0;
                            const max = rangeSlider.max || 100;
                            const percentage = ((value - min) / (max - min)) * 100;
                            {#const tooltipLeft = (percentage * rangeWidth) / 100 - tooltipWidth / 2;#}
                            {#tooltip_.style.left = `${tooltipLeft}px`;#}
                        };

                        // Add event listener for input event
                        rangeSlider.addEventListener('input', updateTooltip);

                        // Initial update of the tooltip value and position
                        updateTooltip();
                    </script>

                </div>
            </form>
        </div>

    </div>
{% endblock %}
