<script>

    const RecommendationChart = {
        chart: null,
        parameterChart: null,
        init: function () {
            this.chart = Highcharts.chart('raytunes-chart', {
                chart: {
                    height: 250,

                },
                credits: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                xAxis: {},
                yAxis: {
                    {#min: 0,#}
                    {#max: 1,#}
                    title: {
                        text: 'Test Score'
                    },

                },

                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                },

                series: [{name: "", data: [], showInLegend: false}]

            });

            this.parameterChart = Highcharts.chart('raytunes-parameter-chart', {
                chart: {
                    {#type: 'column',#}
                    height: 250,
                },
                title: {
                    text: ''
                },
                xAxis: {
                    title: {
                        text: 'Iteration'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Parameter Values'
                    },

                },
                credits: {
                    enabled: false
                },

                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                },

                series: [{name: "", data: [], showInLegend: false}]

            });
        },
        addData: function (score, estimator, iter, parameters) {
            this.chart.series[0].update({name: estimator})
            this.chart.series[0].addPoint(score)


            let parameter_names = Object.keys(parameters)
            parameter_names.forEach(name => {
                    let param_series = this.parameterChart.series.filter(s => s.name === name)
                    if (param_series.length === 0) {
                        this.parameterChart.addSeries({name: name, data: [parameters[name]]})
                    } else {
                        param_series[0].addPoint(parameters[name])
                    }
                }
            )
        }
    }


</script>