{% load filters %}

{#<style>#}
{##}
{#    .input-group input {#}
{#        display: inline-block;#}
{#        width: 45%;#}
{#        margin-right: 5%;#}
{#    }#}
{#</style>#}

<form class="form-group" id="optimization-form">
    {% csrf_token %}
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Parameter Search Space</h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-group">
                    {#                <h3 class="kt-portlet__head-title">Parameter Search Space</h3>#}
                    <select class="form-control" id="optFormAlgSelect" name="algorithm" onchange="displayfuncOpt()"
                    >
                        {% for alg_name, _ in b_opt_param_forms.items %}
                            <option value={{ alg_name }}> {{ alg_name|parse_alg_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


        </div>
        <div class="kt-portlet__body" style="padding-bottom: 0px;padding-top: 10px">
            <div>
                {% for alg,params in b_opt_param_forms.items %}
                    <div class="form-group alg-param-forms" id='{{ alg }}-form'
                         onchange="return false" onsubmit="return false"
                            {% if forloop.first %}
                         style="display:block;"
                            {% else %}
                         style="display:none;"
                            {% endif %}
                    >
                        {% for param in params %}
                            <div style="height: 20px;"></div>
                            <div class="row">
                                <div class="col-md-2" style="text-align: end;">
                                    <p style="margin-bottom: 3px;margin-top: 23px">{{ param.label }}:</p>
                                </div>
                                {#                                <label>AAA</label>#}
                                <div class="col-md-10">
                                    {% with pa_id=alg|add:"-"|add:param.param_name %}
                                        {% include "parts/double-range-slider.html" with min=param.min max=param.max step=param.step id=pa_id label=param.param_name %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endfor %}
                        {#                        <input type="hidden" name="alg_type" value="{{ alg }}">#}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="kt-portlet" data-ktportlet="true">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">

                </h3>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-group">
                        {#                <h3 class="kt-portlet__head-title">Parameter Search Space</h3>#}
                        <select class="form-control" id="optimizer-select" name="optimizer"
                        >
                            <option value="bayesian"> Bayesian Optimisation</option>
                            <option value=successive_halving> Successive Halving</option>
                        </select>
                        <script>
                            let changeOptimizer = function () {
                                optimizationHandler.stopIteration();
                                let selectElement = document.getElementById("optimizer-select");
                                let selectedValue = selectElement.value;
                                if (selectedValue === "bayesian") {
                                    optimizationHandler.init("bayesian", start_bayesian_optimization_url, fetch_opt_result)
                                } else {
                                    optimizationHandler.init("successive_halving", start_successive_halving_url, fetch_opt_result)
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-group">
                    <a href="#" data-ktportlet-tool="toggle"
                       class="btn btn-sm btn-icon btn-default btn-icon-md"><i
                            class="mdi mdi-chevron-down mdi-18px"></i></a>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <form class="form-group" id="bayesian_opt_form_params" enctype="multipart/form-data">
                {% for field in bayesian_opt_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </form>
            <div id="form_append_container"></div>
        </div>
    </div>
</form>


<script>
    // form display change
    let displayfuncOpt = function () {
        let key = document.getElementById("optFormAlgSelect").value;
        let forms = document.getElementsByClassName("alg-param-forms");
        console.log(forms, key)
        for (let i = 0; i < forms.length; i++) {
            if (forms[i].id === key + "-form") {
                forms[i].style.display = "block";
            } else {
                forms[i].style.display = "none";
            }
        }
    }


</script>
