{# needs parameters min, max,step id and label  #}
{% load static %}
{% if not min %}
    {% with min=0 %}
    {% endwith %}
{% endif %}

{% if not max %}
    {% with max=1 %}
    {% endwith %}
{% endif %}

{% if not label %}
    {% with label='Value' %}
    {% endwith %}
{% endif %}


<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link href='{% static "css/customDoubleSlider.css" %}' rel="stylesheet" type="text/css">

<div class="form-group">
    <input type="hidden" name="{{ id }}-min" id="{{ id }}-min" value="{{ min }}">
    <input type="hidden" name="{{ id }}-max" id="{{ id }}-max" value="{{ max }}">
</div>

<script>
    $(function () {
        let sliderID = "#slider-range-{{ id }}";
        let amountID = "#amount-{{ id }}";
        let tooltipID = "#tooltip-{{ id }}";
        let minValueID = "#{{ id }}-min";
        let maxValueID = "#{{ id }}-max";
        $(sliderID).slider({
            range: true,
            step: {{ step }},
            min: {{ min }},
            max: {{ max }},
            values: [{{ min }}, {{ max }}],
            create: function () {
                {#$(amountID).val($(sliderID).slider("values", 0) +#}
                {#    " - " + $(sliderID).slider("values", 1));#}

                // Create tooltip elements
                let handles = $(sliderID).find(".ui-slider-handle");
                handles.each(function (index) {
                    $(this).append('<div class="ui-slider-tooltip" id="' + tooltipID.substring(1) + '-' + index + '"></div>');
                });

                // Set initial tooltip values
                handles.eq(0).children(".ui-slider-tooltip").text($(sliderID).slider("values", 0));
                handles.eq(1).children(".ui-slider-tooltip").text($(sliderID).slider("values", 1));
                {#$(sliderID).find(".ui-slider-handle").each(function (index) {#}
                {#    $(this).children(".ui-slider-tooltip").text(ui.values[index]);#}
                {# });#}
                $(minValueID).val($(sliderID).slider("values", 0));
                $(maxValueID).val($(sliderID).slider("values", 1));
            },
            slide: function (event, ui) {
                {#$(amountID).val("$" + ui.values[0] + " - $" + ui.values[1]);#}

                // Update tooltip values on slide
                $(sliderID).find(".ui-slider-handle").each(function (index) {
                    $(this).children(".ui-slider-tooltip").text(ui.values[index]);
                });
                $(minValueID).val(ui.values[0]);
                $(maxValueID).val(ui.values[1]);
            }
        });
    });
</script>


<p class="row">
    <label for="amount-{{ id }}"> </label>
</p>

<div id="slider-range-{{ id }}">
    <div class="ui-slider-tooltip ui-slider-min-tooltip">
        {{ min }}
    </div>
    <div class="ui-slider-tooltip ui-slider-max-tooltip">
        {{ max }}
    </div>
</div>

<div id="slider-range-{{ id }}"></div>


