{% extends "displayDataset/displayDatasetSynthetic.html" %}
{% load static %}

{#{% block graphbuttons %}#}
{#{% endblock %}#}

{% block content %}
    <h2>Parameterization</h2>
    <div style="display:None">
        {% include 'parts/MainChart.html' %}
        <!--end: Highcharts -->
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-9 col-xs-9">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <form id="start-form">
                            {% csrf_token %}
                            <button id="play-optimization" type="submit" class="play-btn"
                            >
                                <i class="mdi mdi-24px mdi-play"></i>
                                <i style="display:none" class="mdi mdi-24px mdi-pause"></i>
                            </button>
                            <button id="reload" type="submit" class="reload-btn"
                            >
                                <i class="mdi mdi-24px mdi-reload"></i>
                                <i style="display:none" class="mdi mdi-24px mdi-pause"></i>
                            </button>
                            <div id="start-button-right" style="display: inline;">
                                <h6 id="start-button-right-text" style="display: inline;"></h6>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div id="ErrorChart"></div>
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            {% include 'parts/bayesianOptForm.html' %}
        </div>
    </div>
    {% block blowChartContent %}

        <div id="SucessiveHalvingChart">
        </div>

        {% include "algorithmAnalysis/optimization_charts.html" %}
    {% endblock %}
    <script>
        // Javascript needed for all graph pages
        const dataTitle = '{{ data_info.title }}'
    </script>
{% endblock %}


{% block additional_bottom_js %}
    <script type="text/javascript">
        let start_bayesian_optimization_url = "{% url 'start_bayesian_opt' %}"
        let start_successive_halving_url = "{% url 'start_successive_halving' %}"
        let setname = "{{ setname }}"
        let fetch_opt_result = "{% url 'fetch_optresults' %}"
    </script>
    <script src="{% static 'js/repBench/repair/repair.js' %}" type="text/javascript"></script>
{#        <script src="{% static 'js/repBench/optimization/optchart.js' %}" type="text/javascript"></script>#}


    {#    <script src="{% static 'js/repBench/optimization/optimization.js' %}" type="text/javascript"></script>#}
    {% include "algorithmAnalysis/optimization-script.html" %}
    <script>
        optimizationHandler.init("bayesian", start_bayesian_optimization_url, fetch_opt_result)
        {#optimizationHandler.init("successive_halving", start_successive_halving_url, fetch_opt_result)#}
    </script>

    </script>
{% endblock %}

