<script>

    let OptFormData = function (task_id) {
        var e = document.getElementById("optimization-form");
        const bayesienOptFormData = new FormData(e)
        bayesienOptFormData.append("injected_series", JSON.stringify(chartManager.get_injected_norm_data()))
        bayesienOptFormData.append("setname", JSON.stringify(setname))
        bayesienOptFormData.append("task_id", task_id)
        bayesienOptFormData.append("csrfmiddlewaretoken", '{{csrf_token}}')
        return bayesienOptFormData
    }

    const optimizationHandler = {
        init: function (option, start_url, retrieve_url) {
            this.data = []
            this.iteration = 0;
            this.task_id = '{{csrf_token}}'
            this.playing = false
            this.computing = false
            this.intervalTimer = 800
            this.option = option //successive_halving or bayesian_optimization
            this.start_url = start_url
            this.retrieve_url = retrieve_url
        },
        startOptimizing: function () {
            this.playing = false
            this.iteration = 0;
            this.data = [];
            SuccessiveHalvingChart.clear()
            ErrorChart.clear()

            $.ajax({
                type: 'POST',
                url: this.start_url,
                data: $("#optimization-form").serialize() + '&task_id=' + this.task_id +
                    '&setname=' + setname +
                    '&injected_series=' + JSON.stringify(chartManager.get_injected_norm_data()),
                success: (response) => {
                    {#document.getElementById("start-button-right-text").innerHTML = "Starting " + this.option + "..."#}
                    this.getOptimizationResults();
                    this.iterateData();
                    {#RecommendationChart.chart.hideLoading()#}
                    this.playing = true


                    optimData = response
                    console.log("OPTIM DATA", optimData)
                    //textract error_loss from formdata
                    {#let error_loss = optimData.error_loss.toUpperCase();#}
                    {#let params = Object.keys(optimData.param_ranges);#}
                    {#let n_initial_points = optimData.n_initial_points;#}
                    {#let n_calls = optimData.n_calls;#}
                    {#let job_id = optimData.job_id;#}
                    {#initOptChart(params, error_loss, n_initial_points, n_calls)#}
                },
                error: function (response) {
                    console.log(response);
                }
            });

        },

        getOptimizationResults: function () {
            $.ajax({
                type: 'POST',
                url: this.retrieve_url,
                data: $('#start-form').serialize() + '&task_id=' + this.task_id,
                success: response => {
                    console.log("EYYY", response);
                    if (response.status === 'running') {
                        this.data = response.data;
                        {#RecommendationChart.chart.redraw();#}
                        setTimeout(() => {
                            this.getOptimizationResults();  // Pass the task_id again in the recursive call
                        }, 1000);
                    } else if (response.status === 'done') {
                        console.log("DONE");
                        this.data = response.data;
                        this.computing = false
                    }
                    {#this.data = response.data;#}
                },
                error: function (response) {
                    console.log(response);
                    alert('Error retrieving optimization results');
                }
            });
        },

        iterateData: function () {
            console.log("iterate")
            console.log(this.iteration + " " + this.data.length + " " + this.playing)
            if (this.iteration < this.data.length && this.playing) {
                let currentData = this.data[this.iteration];
                console.log(currentData, "CURRENT DATA")
                document.getElementById("start-button-right-text").innerHTML = "Iter:" + (this.iteration +1) +
                    {#"| Estimator: " + estimator +#}
                    " | " + currentData.runtime + "s"
                    {#" | Score: " + currentData;#}


                if (this.option === 'successive_halving') {
                    let params = currentData.param_combinations
                    let param_names = Object.keys(params[0])
                    SuccessiveHalvingChart.setParamNames(param_names[0], param_names[1])
                    SuccessiveHalvingChart.update(params)
                    ErrorChart.add(currentData.avg_error)

                } else {
                    ErrorChart.add(currentData.score)
                    let params = currentData.params
                    let param_names = Object.keys(params)
                    SuccessiveHalvingChart.setParamNames(param_names[0], param_names[1])
                    {#console.log("IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII",Object.values(params))#}
                    SuccessiveHalvingChart.add(params)

                }

                this.iteration += 1;
            } else {
                if (this.playing) {
                    console.log("Waiting for more data..." + this.iteration);
                }
            }

            setTimeout(this.iterateData.bind(this), this.intervalTimer);
        }

    }



    $(document).ready(function () {
        $('#play-optimization').on('click', function (event) {
            // Prevent form submission if it's a submit button
            {#event.preventDefault();#}
            $(this).find('i').toggle();
            optimizationHandler.playing = !optimizationHandler.playing
        });


        $('#start-form').on('submit', function (event) {
            event.preventDefault();
            if (optimizationHandler.computing) {
                return;
            } else {
                optimizationHandler.computing = true;
                optimizationHandler.startOptimizing()
            }
        });


        $('#reload').on('click', function (event) {
            // Prevent form submission if it's a submit button
            event.preventDefault();

            if (!optimizationHandler.playing && optimizationHandler.computing) {
                optimizationHandler.playing = true
                $('#play-recommendation').find('i').toggle();
            }

            if (optimizationHandler.data.length > 0) {
                optimizationHandler.startOptimizing()
            }


        });


        //recommendation table settings
        // play-recommendation-table

        $('#play-recommendation-table').on('click', function (event) {
            // Prevent form submission if it's a submit button
            event.preventDefault();

            console.log("play recommendation table")
            $(this).find('i').toggle();
            if (!parameterTable.hasStarted) {
                parameterTable.replayHistory()
            }
            parameterTable.isPaused = !parameterTable.isPaused
        });


        $('#reload-recommendation-table').on('click', function (event) {
            // Prevent form submission if it's a submit button
            event.preventDefault();

            if (parameterTable.isPaused) {
                parameterTable.isPaused = false
                $('#play-recommendation-table').find('i').toggle();
            }

            parameterTable.replayHistory()


            // show the first <i> tag
            {#$('#play-recommendation-table').find('i').first().show();#}



            {#if (recommendationHandler.computing) {#}
            {#    recommendationHandler.startTuning()#}
            {# }#}

        });


    });

</script>